@()

<script type="text/javascript">
//var wsUri = "ws://echo.websocket.org/";
var wsUri = "ws://127.0.0.1:9000/ws"; // TODO: webSocketURL()
var ws;

function connect() {
    console.log(">>>> connect()");
    
    ws = new WebSocket(wsUri);
    ws.onopen = function (e) { addMessage("onopen"); }
    ws.onclose = function (e) { console.log("onclose"); }
    ws.onmessage = function (e) { addMessage(e.data); }
    ws.onerror = function (e) { console.log("onerror"); }
}

function addMessage(s) {
    console.log("onmessage: " + s );
    var messages = document.getElementById("messages");
    messages.value += s + "\n";
}

function send() {
    var inputLine = document.getElementById("inputLine");
    ws.send(inputLine.value);
    inputLine.value = "";
}
</script>

<form action="http://www.google.com.tw">
    <textarea rows="24" cols="80" id="messages"></textarea>
    <input type="text" id="inputLine"></input>
    <input type="button" value="connect" onclick="connect()"></input>
    <input type="button" value="send" onclick="send()"></input>
</form>